* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
footer {
  padding: 4% 0;
  background-color: rgb(20, 108, 20);
  color: #fff;
}
ul {
  list-style-type: none;
  margin-top: 25px;
}
ul li {
  margin: 10px 0;
}
a {
  text-decoration: none;
  color: #fff;
}
h4 {
  padding-left: 8px;
  border-left: 2px solid #fff;
}
.footer-div {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.style{
  display: flex;
  justify-content: center;
  padding: 20px;
  
}
p{
padding: 0 500px;
}
p2{
  padding: 200px;
}
