*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #353434;
}
.img1{
    margin-left: 500px;
}
.img2{
    margin-left: 70px;
}
.mg4y{
    background-color: rgb(29, 28, 28);
    color: azure;
    border-radius: 20px;
    gap: 2rem;
    padding: 20px;
    height: 200px;
}
.middle{
    margin-top: 100px;
    margin-left: 160px;
    padding: 30px;
}
.card4{
    color: greenyellow;
    margin-left: 0px;
    margin-top: 20px;
    left: 3px;
}
.p1{
    margin: 20px 20px;
}
.p2{
    margin-left: 300px;
    margin-top: 30px;
    color: green;
}
.mg1{
    display: flex;
    margin-top: 20px;
    margin-left: 30px;
    gap: 1rem;
}
.mg2{
    display: flex;
    margin-top: 20px;
    border-radius: 100%;
    gap: 2.3rem;
    margin-left: 45px;
}
.mg3{
    border-radius: 50%;
    margin-right: 50px;
    display: flex;
    gap: rem;
}
.mg4{
    margin-top: 20px;
    display: flex;
    margin-left: 40px;
    gap: 1rem;
}
.welcome{
    margin-bottom: 20px;
}